<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>玻璃工坊</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap-4.4.1.css">
<link rel="preload" href="img/homebg1.jpg" as="image">
<link rel="preload" href="img/homebg2.jpg" as="image">
<link rel="preload" href="img/homebg3.jpg" as="image">
<link rel="preload" href="img/homebg4.jpg" as="image">
<body>
	<img id="cartimg" src="img/cartimg.png" alt="">
	<a href="#home"><img id="top" src="img/top.png" alt=""></a>
	<img id="menubx" src="img/menubx.png" alt="">
	<nav id="menu">
        <ul>
            <li><a data-text="HOME" href="#home">首頁　　</a></li>
            <li><a data-text="ABOUT" href="#about">關於我們</a></li>
            <li><a data-text="EVENT" href="#event">精彩活動</a></li>
            <li><a data-text="SHOP" href="#shop">商品一覽</a></li>
            <li><a data-text="CONTACT" href="#contact">聯絡我們</a></li>
            <li><a class=" login" data-text="LOG IN" href="#login">會員登入</a></li>
            <li><a id="shopcart" data-text="CART" href="#cart">購物車　</a></li>
        </ul>
    </nav>
	<section id="home">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-md-3 grid-right">
                    <div class="page">
                        <p>/04</p>
                    </div>
                </div>
                <div class="col-md-6 grid-center">
                    <div class="title flex-center">
                        <img id="home-title" src="img/home-title.png" alt="">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-3 grid-left">
                    <div class="slogan">
                        <ul>
                            <li>手藝人獨門技巧</li>
                            <li>薪火相傳永不滅</li>
                            <li>永遠創造有益人心的作品</li>
                            <li>琉璃相伴 盡是人間美好</li>
                            <button type="button" class="btn" id="scroll"><a href="#about">read more</a></button>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <section id="about">
        <div class="container_fluid h-100">
            <img src="img/about-title.png" id="ab-title" alt="">
            <div class="row h-100" id="ab-main">
                <div class="col-lg-4 flex-center">
                    <div class="about-box flex-center">
                        <span>01</span>
                        <h2>品牌故事</h2>
                        <p>琉璃工坊是以開發手工藝術玻璃飾品為主的工作室，自 2004 年設立至今 13 年，建立了自有品牌。如今，琉璃工坊在全球已成為琉璃藝術的代名詞，從一無所知的黑暗中摸索，提升到過去全世界不曾有過的水平。</p>
                    </div>
                </div>
                <div class="col-lg-4 flex-center">
                    <div class="about-box box2 flex-center">
                        <span>02</span>
						<h2>關於我們</h2>
                        <p>琉璃，對琉璃工坊而言；不僅是一種材質，一種創作的媒介，而是一種精神，一種生命。琉璃工房始終相信，不重視思想，不注入情感，技法和材質永遠只能停留在技法和材質的層面。因此，不用法文，不用英文，有意的將“水晶玻璃”之名正式定為“琉璃”，定義我們創作的材質，述說琉璃工坊依存在民族文化與歷史的情感。</p>
                    </div>
                </div>
                <div class="col-lg-4 flex-center">
                    <div class="about-box flex-center">
                        <span>03</span>
                        <h2>我們的理想</h2>
                        <p>工作室的理念是「自信自在的風采」，希望每一個手工玻璃創作品，能為人們帶來喜悅、自信的正面能量。以琉璃延展到生活，廣泛融取中國元素，以有趣的、創意的設計概念，體現生活的多向性。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="event">
        <div class="container_fluid h-100">
            <div class="row event-row">
                <div class="col-md-6 grid-right">
                    <div class="event-box box-right" href="#evnt1">
                        <img src="img/event-pic1.jpg" alt="">
                    </div>
                    <div class="checkbox">
                        <h2>Check!</h2>
                        <p>01酒瓶切割</p>
                    </div>
                </div>
                <div class="col-md-6 grid-left">
                    <div class="event-box box-left flex-center" href="#evnt1">
                        <h3>酒瓶切割</h3>
                        <p>廢物再利用，專業工具與人員在旁協助，不怕劃傷手，外觀簡潔大方，只要你...<a href="#">查看更多</a></p>
                    </div>
                </div>
            </div>
            <div class="row event-row">
                <div class="col-md-4 grid-right">
                    <div class="event-box flex-center" href="#evnt2">
                        <h3>夜光玻璃DIY</h3>
                        <p>黑暗中閃閃發光的玻璃瓶，宛如深夜中的星空奪目璀璨，製作起來...<a href="#">查看更多</a></p>
                    </div>
                </div>
                
                <div class="col-md-4 grid-center">
                    <div class="event-join flex-center" id="evnt1">
                        <h3>酒瓶切割</h3>
                        <p>廢物再利用，專業工具與人員在旁協助，不怕劃傷手，外觀簡潔大方，只要你動一動手，回收的玻璃瓶就會變成一件件藝術品，裝飾你的生活。</p>
                        <button type="button" class="btn">活動報名</button>
                    </div>

                    <div class="event-join flex-center" id="evnt3">
                        <h3>窯燒玻璃觀摩</h3>
                        <p>窯燒藝術玻璃在住宅及商業空間應用上非常多元，可視設計師之空間主體設計意念，來看看平日的裝置藝術是如何在師傅手中呈現多樣面貌。</p>
                        <button type="button" class="btn">活動報名</button>
                    </div>
                    
                    <div class="event-join flex-center" id="evnt2">
                        <h3>夜光玻璃DIY</h3>
                        <p>黑暗中閃閃發光的玻璃瓶，宛如深夜中的星空奪目璀璨，製作起來不需費太多時間精力，且夢幻好看，跟著我們一起來DIY吧。</p>
                        <button type="button" class="btn">活動報名</button>
                    </div>
                </div>
               
                <div class="col-md-4 grid-left">
                    <div class="event-box" href="#evnt3">
                        <img src="img/event-pic2.jpg" alt="">
                    </div>
                    <div class="checkbox box2">
                        <h2>Check!</h2>
                        <p>03窯燒玻璃觀摩</p>
                    </div>
                </div>
            </div>
            <div class="row event-row">
                <div class="col-md-6 grid-right">
                    <div class="event-box box-right" href="#evnt2">
                        <img src="img/event-pic3.jpg" alt="">
                    </div>
                    <div class="checkbox">
                        <h2>Check!</h2>
                        <p>02夜光玻璃DIY</p>
                    </div>
                </div>
                <div class="col-md-6 grid-left">
                    <div class="event-box box-left flex-center" href="#evnt3">
                        <h3>窯燒玻璃教學</h3>
                        <p>窯燒藝術玻璃在住宅及商業空間應用上非常多元，可視設計師之空間...<a href="#">查看更多</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shop">
        <div class="container mt-5">
            <div class="row">
                <div class="col-3 flex-center">
					<select id="pd-select">
						<option>自然系列</option>
						<option>小蝸牛</option>
						<option>四季琉璃項鍊</option>
						<option>淡紫蝴蝶</option>
					</select>
				</div>
                <div class="col-3 flex-center">
				<select id="pd-select">
						<option>星球系列</option>
						<option>木星</option>
						<option>冥王星</option>
						<option>海王星</option>
					</select>
				</div>
                <div class="col-3 flex-center">
				<select id="pd-select">
						<option>海洋系列</option>
						<option>彩色琉璃金箔小魚</option>
						<option>紫色琉璃金箔小魚</option>
						<option>綠色琉璃金箔小魚</option>
					</select>
				</div>
                <div class="col-3 flex-center">
				<select>
						<option>其他商品</option>
						<option>銀土壓紋</option>
						<option>窯燒玻璃壁掛式花器</option>
					</select>
				</div>
            </div>
        </div>
        <div class="container-fluid h-100">
           
            <div class="row shop-main flex-center" id="app">
                <div id="product-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="5">購物清單</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-title">
                                <td>品項</td>
                                <td>數量</td>
                                <td>單價</td>
                                <td>小計</td>
                                <td></td>
                            </tr>
                            <tr v-for="product in productsInCart">
                                <td>{{product.name}}</td>
                                <td>{{product.amount}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.sum}}</td>
                                <td>
                                    <button class="button-del" @click="remove(product)">×</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="3">Total <span class="total-price">$ {{total}}</span></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                    <button class="checkout btn" id="checkout">前往付款</button>
                    <input type="button" class="btn close2" value="關閉">
                </div>
                <div class="col-md-9 pt-3 tab" :id="[product.idName]" v-for="product in products">
                    <div class="row h-100">
                        <div class="col-sm-5 grid-center pd-imgbx">
                            <img :src="product.thumb" class="pd-img">
                        </div>
                        <div class="col-sm-7 pl-5 pr-5 grid-center">
                            <div>
                                <h2 class="mb-4">{{product.name}}</h2>
                                <p>{{product.content}}</p>
                            </div>
                            <div>
                                <div class="price-box">
                                    <h3>價格：{{product.price}}</h3>
                                    <img src="img/shop-slogan.png" id="shop-slogan">
                                </div>
                                <div class="action-box">
                                    <div>
                                        <button class="round" @click="minusOne(product)">-</button>
                                        <span>{{product.amountShow}}</span>
                                        <button class="round" @click="addOne(product)">+</button>
                                    </div>
                                    <button @click="addToCart(product)" class="btn add">加入購物車</button>
									<span class="heart">&#10084;</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-md-3 h-100 flex-center">
                    <img id="timeline" src="img/timeline.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="pd-show">
                    <a href="#shop">
                        <div class="block" style="left: 283px">
                            <img href="#tab1" src="img/product1.jpg" alt="">
                        </div>
                        <div class="block" style="left: 383px">
                            <img href="#tab2" src="img/product2.jpg" alt="">
                        </div>
                        <div class="block" style="left: 483px">
                            <img href="#tab3" src="img/product3.jpg" alt="">
                        </div>
                        <div class="block" style="left: 583px">
                            <img href="#tab4" src="img/product4.jpg" alt="">
                        </div>
                        <div class="block" style="left: 683px">
                            <img href="#tab5" src="img/product5.jpg" alt="">
                        </div>
                        <div class="block" style="left: 83px">
                            <img href="#tab6" src="img/product6.jpg" alt="">
                        </div>
                        <div class="block" style="left: 183px">
                            <img href="#tab7" src="img/product7.jpg" alt="">
                        </div>
                        <div class="block" style="left: 283px">
                            <img href="#tab8" src="img/product8.jpg" alt="">
                        </div>
                        <div class="block" style="left: 483px">
                            <img href="#tab9" src="img/product9.jpg" alt="">
                        </div>
						<div class="block" style="left: 483px">
                            <img href="#tab10" src="img/product10.jpg" alt="">
                        </div>
						<div class="block" style="left: 483px">
                            <img href="#tab11" src="img/product11.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-lg-6 flex-center mb-3">
                    <form class="contact-box">
                        <div class="form-group">
                            <h2 class="pb-4">聯絡我們</h2>
                        </div>
                        <div class="form-group">
                            <label for="usersname">姓名</label>
							<input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="phonenum">手機號碼</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="suggest">意見回饋</label>
                            <textarea class="form-control" id="suggest" rows="5" required></textarea>
                        </div>
                        <button type="reset" class="btn contact-btn d-flex mx-auto">送出</button>
                 </form>
            </div>
            <div class="col-lg-6 flex-center">
                <form class="contact-box box2">
                    <h2 class="pb-4">有獎徵答</h2>
                    <h4>全對有機會獲得農場優惠券</h4>
                    <div class="form-group">
                        <label for="inputState">我們品牌成立年分是?</label>
                        <select id="inputState" class="form-control">
                            <option selected>2001</option>
                            <option>2004</option>
                            <option>2009</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputState">琉璃的名字由來是?</label>
                        <select id="inputState" class="form-control">
                            <option selected>法文翻譯</option>
                            <option>英文翻譯</option>
                            <option>水晶玻璃直翻</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputState">我們的主要產業是?</label>
                        <select id="inputState" class="form-control">
                            <option selected>漁業</option>
                            <option>玻璃</option>
                            <option>農業</option>
                        </select>
                    </div>	
                    <div class="form-group">
                        <label for="inputState">我們的理念?</label>
                        <select id="inputState" class="form-control">
                            <option selected>自信自在的風采</option>
                            <option>賣東西</option>
                            <option>沒有理念</option>
                        </select>
                    </div>
                        <button type="reset" id="contact-btn2" class="btn contact-btn d-flex mx-auto">送出</button>
                </form>
            </div>
            </div>
        </div>
    </section>
    <footer>
		<div class="container mb-0">
			<div class="row">
				<div class="col-sm-4">
					<h3>快速導覽</h3>
					<p><a href="#home">首　　頁</a></p>
					<p><a href="#about">關於我們</a></p>
					<p><a href="#event">精彩活動</a></p>
					<p><a href="#shop">商品一覽</a></p>
					<p><a href="#contact">聯絡我們</a></p>
				</div>
				<div class="col-sm-4">
						<h3>店家資訊</h3>
						<div id="infbx">
							<p><span><img class="footer-icon" src="img/phone.png" alt=""></span>客服專線: 02 12345678</p>
							<p><span><img class="footer-icon" src="img/mail.png" alt=""></span> 電子信箱: a1234@gmail.com</p>
							<p><span><img class="footer-icon" src="img/id.png" alt=""></span>	客服ID: a001</p>
						</div>
				</div>
				<div class="col-sm-4">
					<h3>訂閱電子報</h3>
					<p>追蹤我們 獲得最新資訊</p>
					<span>
						<input type="text" required>
						<button id="read">訂閱</button>
					</span>
					<p>
						<span><img class="social footer-social" src="img/fb.png" alt=""></span>
						<span><img class="social footer-social" src="img/line.png" alt=""></span>
						<span><img class="social footer-social" src="img/gmail.png" alt=""></span>
					</p>
				</div>
			</div>
		</div>
	</footer>
    <form id="log" class="log-form">
		<div class="form-text pt-5">
			<h3>會員登入</h3>
			<label for="num">帳號</label>
			<input type="text" id="num" placeholder="輸入帳號" required><br>
			<label for="password">密碼</label>
			<input type="text" id="password" placeholder="輸入密碼" required>
			<p>使用其他方式登入</p>
			<div class="form-group flex-around">	
				<span><img class="social" src="img/fb.png" alt=""></span>
				<span><img class="social" src="img/line.png" alt=""></span>
				<span><img class="social" src="img/gmail.png" alt=""></span>
			</div>			
			<p>還沒有帳號?<a class="reg" href="#">註冊</a></p>
			<div class="form-group flex-around">	
				<input type="submit" class="btn login log-chk" value="登入">
				<input type="reset" class="btn close2" value="關閉">
			</div>			
		</div>
    </form>
    <form id="reg" class="log-form">
		<div class="form-text">
			<h3>會員註冊</h3>
			<label for="name">姓名</label>
			<input type="text" id="name" placeholder="輸入姓名" required><br>
			<label for="email">Gmail</label>
			<input type="text" id="email" placeholder="輸入電子信箱" required><br>
			<label for="num">帳號</label>
			<input type="text" id="num" placeholder="輸入帳號" required><br>
			<label for="password">密碼</label>
			<input type="text" id="password" placeholder="輸入密碼" required>	
			<p>已有帳號?<a class="login" href="#">登入</a></p>
			<div class="form-group flex-around">	
				<input type="submit" class="btn log-chk" value="登入">
				<input type="reset" class="btn close2" value="關閉">
			</div>			
		</div>
    </form>
    <form id="join" class="log-form">
		<div class="form-text">
			<h3>活動報名</h3>
			<label for="name">姓名</label>
			<input type="text" id="name" placeholder="輸入姓名" required><br>
			<label for="email">Gmail</label>
			<input type="text" id="email" placeholder="輸入電子信箱" required><br>
			<label>人數</label>
			<input type="number" min="0" max="10" value="人數">
			<label>活動</label>
			<select>
				<option value="">酒瓶切割</option>
				<option value="">夜光玻璃DIY</option>
				<option value="">窯燒玻璃教學</option>
			</select>
			<p>快速登入</p>
			<label for="num">帳號</label>
			<input type="text" id="num" placeholder="輸入帳號" required><br>
			<label for="password">密碼</label>
			<input type="text" id="password" placeholder="輸入密碼" required>
			<div class="form-group flex-around pt-3">
				<input type="submit" class="btn log-chk" value="報名">
				<input type="reset" class="btn close2" value="關閉">
			</div>			
		</div>
    </form>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap-4.4.1.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/all.js"></script>
	<script src="js/cart.js"></script>
</body>
</html>
